*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(146, 101, 18, 0.822);
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}